psycopg2-binary
flask-socketio
gevent
gevent-websocket
WTForms==2.3.3
flask-wtf
flask-sqlalchemy
flask-bootstrap
sqlacodegen
flask-sqlacodegen
flask-cors
requests
email_validator
Flask-Session
gunicorn
numpy
metadata_parser
scikit-learn
pandas
kneed
