psycopg2-binary
flask-socketio
eventlet
WTForms==2.3.3
flask-wtf
flask-sqlalchemy
flask-bootstrap
sqlacodegen
flask-sqlacodegen
flask-cors
requests
email_validator
metadata_parser
scikit-learn
pandas
kneed
