.column
{
	width:100%;
}

#submit
{
	text-align:center;
	padding: auto;
	margin: auto;
}

.warning_user
{
	text-align: center;
	color: red;
	style: bold;
}

:root{
    --bs-secondary-color: rgba(62, 158, 98, 0.75);
}

body
{
	color: lightgrey;
}
