<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport"  -->
    <!-- 	  content="user-scalable=no, initial-scale=0.2, maximum-scale=0.5, minimum-scale=0.1, -->
    <!-- 		   width=device-width, height=device-height"/> -->
    <!-- content="user-scalable=no, initial-scale=1, maximum-scale=1, -->
    <!-- minimum-scale=1, width=device-width, height=device-height" -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    {% block title %}{% endblock %}
  
      <link rel="stylesheet"
	    href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
	    integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik="
	    crossorigin="anonymous" />
      <link rel="stylesheet"
	    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	    crossorigin="anonymous">
      <link rel="stylesheet"
	    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
	    crossorigin="anonymous" />
    

      <!-- jQuery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
	      integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM="
	      crossorigin="anonymous"></script>

      <!-- Bootstrap -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	      crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	      crossorigin="anonymous"></script>

      <!-- SocketIO -->
      <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
	      integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
	      crossorigin="anonymous"></script>
    {% block additional_scripts_css %}{% endblock %}
  </head>

  <body>
    <header>
      {% block legend %}{% endblock %}    
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
