{% extends "base_main_template.html" %}

{% block additional_scripts_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<!-- 	<h1> Welcome!</h1>-->
<div class=container>
	<div class="column">
		<!-- {% if message %} -->
		<!-- <div class="row text-center warning_user"> -->
		<!-- 	{{ message }} -->
		<!-- </div> -->
		<!-- {% endif %} -->
  {% with messagesF = get_flashed_messages() %}
    {% if messagesF %}
		<div class="alert alert-warning alert-dimissible show">
		  {% for messageF in get_flashed_messages() %}
		  {{ messageF }}
		  <button type="button" class="btn-close float-end"
			  data-bs-dismiss="alert" aria-label="Close"></button>
		  {% endfor %}
		</div>
    {% endif %}
  {% endwith %}

		{% import "bootstrap/wtf.html" as wtf %}
		{{ wtf.quick_form(form, button_map={"submit":"primary"}, id="login-form") }}
		<div class="row text-center">
			<a href="{{ url_for('index')}}">
				<button type="button" class="btn btn-primary btn-block btn-lg">Back to home page</button>
			</a>
		</div>
	</div>
</div>
{% endblock %}
