{% extends "base.html" %}

{% block title %}
    <title>noVNCConnection</title>
{% endblock %}

{% block additional_scripts_css %}
  <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
	crossorigin="anonymous" />
{% endblock %}

{% block body %}
<header>
  <script type="text/javascript" charset="utf-8">
    connection_port={{ port }};
    connection_id = {{ id }};
    tileset_id = {{ tsid }};
    vncpassword = "{{ vncpassword }}";
    flaskaddr= "{{ flaskaddr }}";
  </script>
</header>
<body>
  <h3>
    Connection secure to HPC machine.
  </h3>
  <p> Hit &laquo; register tileset &raquo; button when VNC connection is closed </p>
  </br>
  <p> Click on the blue bar or in the grey border of the connection window to get hand inside it. </p>
  <script>
    var VNCurl="http://"+flaskaddr+":5000/noVNC/vnc_auto.html?host="+flaskaddr+"&port="+connection_port+"&encrypt=0&password="+vncpassword+"&true_color=1"
    var vncifrm = document.createElement('iframe');
    vncifrm.setAttribute('width', 1410);
    vncifrm.setAttribute('height', 740);
    vncifrm.setAttribute('src', VNCurl);
    document.body.appendChild(vncifrm);
  </script>
  <div id="management" name="buttons">
    <form method="post">
      <button class="btn btn-large btn-info" id="submit" name="submit" value="Submit">Register tileset</button>
    </form>
    <div id="editsession" style="position: relative; top: -35px; left: 150px">
      <a class="btn btn-large btn-danger"
	 href="/editsession?message=%7B&quot;oldsessionname&quot;%3A&quot;{{ session }}&quot;%7D" >Cancel</a>
    </div>
    <div id="closeconnection" style="position: relative; top: -70px; left: 300px" >
      <a class="btn btn-large btn-danger"
	 href="/removeconnection?message=%7B&quot;oldtilesetid&quot;%3A&quot;{{ tsid }}&quot;%7D" >Remove</a>
      </div>
    <div  style="position: relative; top: -35px;">
    Back to session : register nodes.json in Tileset. Cancel : Back to session edition without
      saving data. Remove
      : Completly suppress connection.
    </div>
  </div>
</body>
{% endblock %}

